h3,h4,h5{
    margin: auto;
    margin-bottom:3%;
    font-weight:normal;
}
*{
    font-family: 'system-ui';
    box-sizing: border-box;
}
.rooms{
    float: left;
    margin: 5px;
    background-color: white;
    height: 75%;
    width: 18%;
    border: 2px solid rgb(62, 130, 255);
    border-radius: 15px;
    border-bottom: 5px solid black;
}
.select-room{
    font-weight: bold;
}
.container{
    background-color: white;
    height: 40.625rem; /*525px original ---> 650px , 40.625rem*/
    border: 5px solid rgb(62, 130, 255);
    border-radius: 15px;
    padding: 5px;

    /*centering*/
    margin: 0;
    position: absolute;
    top:50%;
    left:50%;
    text-align:center;
    transform: translateX(-50%) translateY(-50%);
    width: 62.5rem; /*800px original ---> 1000px, 62.5rem*/
}
#line{
    width: 100%;
    height: 0.188rem; /*3px , 0.188rem*/
    background: rgb(52, 59, 57);
}
.chat-box{
    margin: 5px;
    padding: 10px;
    display: inline-block;
    background-color: #e4eaf9;
    height: 75%;
    width:60%;
    border: 2px solid black;
    border-radius: 5px; 

    border-bottom: 5px solid black;
    /*Creating a scrollbar for the chat*/
    overflow: hidden;
    overflow-y: scroll;
}
#message-text{
    margin: 3px;
    padding: 3px;
    width: 80%;
    border: 2px solid black;
    border-radius: 3px;
}
.buttons{
    border: 2px solid #0b484e;
    border-radius:2px;
    width: 10%;
    padding:5px;
    font-size:0.75em; /*12px , 0.75em*/
    outline:none;
    margin:auto;
    display:inline-block;
    
    cursor: pointer;
}
.buttons:active{
    border-radius: 3px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
.user-box{
    display: inline-block; 
    float: right;
    margin: 5px;
    background-color: #e4eaf9;
    height: 75%;
    width: 18%;
    border: 2px solid black;
    border-radius: 5px;
    border-bottom: 5px solid black;
}
#leave-btn{
    display: inline-block;
    margin-left: 2.5%;
    margin-bottom: 1%;
    border: 3.5px solid black;
}
#title{
    font-weight: bolder;
    
}
.select-room{
    font-size: 16px;
}
.select-room:hover{
    color: purple;
    border:3px solid black;
}