.wrapper{
    margin: 0;
    position: absolute;
    top:50%;
    left:50%;
    text-align:center;
    transform: translateX(-50%) translateY(-50%);
    width: 31.25rem; /*500px , 31.25rem */
    font-family: Georgia;
}
#fish{
    margin:auto;
    display:block;
}
#userbox{
    margin-bottom: 25px;
    margin-top: 10px;
}
#main-btn{
    border: 2.5px solid #0b484e;
    border-radius:10px;
    width: 6.25rem;/*100px , 6.25rem*/
    padding:7px;
    font-size:0.9375rem;/*15px , 0.9375rem*/
    outline:none;
    margin:auto;
    display:block;
    
    cursor: pointer;
}
#main-btn:active{
    border-radius: 25px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
.start{
    color: black;
    font-size: 1.875rem;/*30px , 1.875rem*/
}
.message{
    font-size: 1rem;/*16px , 1rem*/
    font-weight: bold;
    color:blue;
}

body{
    background-color: lightblue;
}