<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="../static/css/design.css">
</head>

<body>
    <div class="wrapper">
        <u>
            <h2 class="start">Welcome to Chat App</h2>
        </u>
        <img src="../static/images/fish.png" id="fish" height="75" width="100">
        <input id="userbox" type="text" class="start" placeholder="Enter your Username:" />
        <br>
        <button id="btn">Chat</button>
        <!--onclick='usernameCheck();'-->
    </div>
</body>

</html>